<div class="col-md-8">
    <h2>About</h2>
    <p>
    <em>Cardboard Camera Toolkit</em> splits (or joins) stereo 360 degree panoramas made by
    <a href="https://play.google.com/store/apps/details?id=com.google.vr.cyclops">Google's Cardboard Camera</a>.
    Given a photo taken with Cardboard Camera, it can split it into a stereo pair and an audio file. Given a pair of
    panoramic images and an optional audio file, it can produce <code>.vr.jpg</code> format JPEG images with XMP
    data suitable for viewing in Cardboard Camera.
    </p>
    <p>
    The source code is here:
        <a href="https://bitbucket.org/pansapiens/cardboardcam">https://bitbucket.org/pansapiens/cardboardcam</a>.
    Feel free to fork it/send bug reports/pull requests.
    </p>
    <p>
    <h2>Credits</h2>
    "Man with Axe with Cardboard" image modified by <a href="https://www.reddit.com/user/Zombieist">/u/Zombieist</a>,
    based on a Public Domain image.
    </p>
</div>
