{%extends "base.html"%}

{%block title%}Cardboard Camera Image Splitter{% endblock %}

{%block body%}
    {#
    <div class="jumbotron">
        <h1>Cardboard Camera Image Splitter</h1>
    </div>
    #}

    <div class="row">
        <div class="col-lg-12">

        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <ul class="nav nav-tabs" role="tablist">
                <li id="split_tab_button" role="presentation" class="active">
                    <a role="tab" aria-controls="split_tab"
                       data-toggle="tab" href="#split_tab">Split</a>
                </li>
                <li id="join_tab_button" role="presentation">
                    <a role="tab" aria-controls="join_tab"
                       data-toggle="tab" href="#join_tab">Join</a>
                </li>
            </ul>

            <div class="tab-content">
              <div id="split_tab" role="tabpanel" class="tab-pane fade in active">

                <div id="split_input_panel" style="display:none;">
                  <a href="#"></a>
                  <h1>Let's get splittin'</h1>
                  <h3>Cardboard Camera JPEG (.vr.jpg)</h3>

                    <form action="{{ url_for('.upload') }}"
                          method="POST"
                          enctype="multipart/form-data"
                          class="dropzone"
                          id="split-upload-dropzone">
                        {#
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                        <meta name="csrf-token" content="{{ csrf_token() }}">
                        #}
                    </form>

                </div>
              </div>

              <div id="join_tab" role="tabpanel" class="tab-pane fade in">
                <div id="join_input_panel" style="display:none;">
                  <a href="#"></a>
                  <h1>We become one.</h1>
                  <h3>Two JPEGs (same size). One MP4 audio file.</h3>

                    <form action="{{ url_for('.upload_for_join') }}"
                          method="POST"
                          enctype="multipart/form-data"
                          class="dropzone"
                          id="join-upload-dropzone">
                        {#
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                        <meta name="csrf-token" content="{{ csrf_token() }}">
                        #}

                    </form>
                    <button id="join-submit"
                            type="button"
                            class="btn btn-primary btn-lg btn-block"
                            style="display:none; margin:20px 0 20px 0;">Join</button>

                </div>
              </div>

            </div>

            <div class="alert alert-danger error_panel" style="display:none;">
                <span id="error_message">Error</span>
            </div>
            <div id="result_panel" style="display:none;">
                <a href="#"></a>
            </div>
            <br/><hr/><br/>
            <div id="bitcoin-beg">
                <blockquote>
                    Is this helpful ? Throw me some Bitcoin: <br/>
                    <code>19eAP5q7RQuncswRZZJFPPTzZ1m2DLmCy6</code>
                </blockquote>
            </div>
        </div>
        <div class="col-md-4">
            <div style="text-align:center;">
                <img src="{{ url_for('static', filename='images/man_with_ax.png') }}"/>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">

        </div>
    </div>

{%endblock%}

{%block js%}
<script type="text/javascript">

</script>
{%endblock%}