{%extends "base.html"%}

{%block title%}Cardboard Camera Toolkit{% endblock %}

{%block body%}
    {#
    <div class="jumbotron">
        <h1>Cardboard Camera Toolkit</h1>
    </div>
    #}

    <div class="row">
        <div class="col-lg-12">

        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <ul class="nav nav-tabs" role="tablist">
                <li id="split_tab_button" role="presentation" class="active">
                    <a role="tab" aria-controls="split_tab"
                       data-toggle="tab" href="#split_tab">Split</a>
                </li>
                <li id="join_tab_button" role="presentation">
                    <a role="tab" aria-controls="join_tab"
                       data-toggle="tab" href="#join_tab">Join
                        <span class="badge"
                              style="font-size:10px;">
                            <small>beta</small>
                        </span>
                </li>
            </ul>

            <div class="tab-content">
              <div id="split_tab" role="tabpanel" class="tab-pane fade in active">

              {% include 'split_form.html' %}

              </div>

              <div id="join_tab" role="tabpanel" class="tab-pane fade in">

              {% include 'join_form.html' %}

              </div>

            </div>

            <div class="alert alert-danger error_panel" style="display:none;">
                <span id="error_message">Error</span>
            </div>
            <div id="result_panel" style="display:none;">
                <a href="#"></a>
            </div>
            <br/><hr/><br/>
            <div id="bitcoin-beg">
                <blockquote>
                    Is this helpful ? Throw me some Bitcoin, <br/>
                    <code>19eAP5q7RQuncswRZZJFPPTzZ1m2DLmCy6</code>
                </blockquote>
            </div>
        </div>
        <div class="col-md-4">
            <div style="text-align:center;">
                <img src="{{ url_for('static', filename='images/man_with_ax_with_cardboard__edited_by_Zombieist.png') }}"/>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">

        </div>
    </div>

{%endblock%}

{%block js%}
<script type="text/javascript">

</script>
{%endblock%}