<div id="split_input_panel" style="display:none;">
  <a href="#"></a>
  <h1>Let's get splittin'</h1>
  <h3>Cardboard Camera JPEG (.vr.jpg)</h3>

    <form action="{{ url_for('.upload_for_split') }}"
          method="POST"
          enctype="multipart/form-data"
          class="dropzone"
          id="split-upload-dropzone">
        {#
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <meta name="csrf-token" content="{{ csrf_token() }}">
        #}

        <div class="dropzone-previews-split dropzone-dropzone text-center">
            <p class="text-muted"><em>Drop your photo here</em></p>
        </div>

    </form>

</div>